.dropdown,footer {
    background-color: grey;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    align-content: center;
    text-align: center;
    font-size: xx-large;
  }

.app {

    font-size: 25px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    size: "70";
}

.app2 {

    size: "70";
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-top: 8px solid #bbb;
border-radius: 5px;

}
.button {
background-color: grey;
align-content: center;
font-size: medium;
margin: 20px;
color: white;
    padding: 20px;
}
.reset {
background-color: grey;
align-content: center;
font-size: medium;
margin: 20px;
color: white;
    padding: 20px;
}

.output {
text-align: center;
align-content: center;
float: center;
font-size: x-large;
}